[Desktop Entry]
Encoding=UTF-8
Name=Violette
Comment=Desktop allet for Violette Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Violette
Exec=violette-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/violette128.png
MimeType=x-scheme-handler/violette;
Categories=Office;Finance;
StartupWMClass=Violette-qt
